@model Online_Quiz.Models.AnswerSheet

@{
    ViewData["Title"] = "ShowAnswerSheetDetail";
}


<h3 style="color:red">Correct Answers are in <span style="color:green">green Box</span> and Your Selected answer is shown below</h3>
<div id="question">
    <div class="card">
        @for (var i = 0; i < Model.Paper.Questions.Count(); i++)
        {
            var k = i + 1;
            <div class="question">
                <div class="card-header">
                    <div class="row">
                        <div class="col-1"><strong><h3>@k</h3></strong></div>
                        <div class="col-11">

                            <input type="text" value="@Model.Paper.Questions[i].QuestionName" class="onlyquestion form-control" disabled />

                            <div class="options">

                                @for (var j = 0; j < Model.Paper.Questions[i].Options.Count(); j++)
                                {

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <input type="radio" class="custom-radio" style="background-color:green" checked="@Model.Paper.Questions[i].Options[j].Correct" name="@Model.Paper.Questions[i].Options[j].QuestionId" value="true" disabled>
                                            </div>
                                            <div class="col-sm-11">
                                                <input type="text" value="@Model.Paper.Questions[i].Options[j].OptionName" class="form-control" disabled />
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-sm-3">
                                        Your Selected Answer :
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" value="@Model.AnswerSheet_Questions[i].selectedoption.OptionName" class="form-control" disabled />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
            </div>
        </div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $("#question").find(".question").each(function () {
                    $(this).find('.options').children().children().children('.col-sm-1').children().each(function () {
                        console.log($(this))
                        if ($(this).is(':checked')) {
                            console.log($(this).parent().parent().children())
                            $(this).parent().parent().children().css({ 'background-color': 'green' })

                        }
                    })

                })
            })
        </script>
    }
